title #{title}
meta(name='keywords', content='Plop,9gag,español,memes,fail,chistes,humor,divertido')
meta(name='description', content='¡Plop! te trae el mejor humor de la red')
meta(property='og:title', content='¡Plop!')
meta(property='og:description', content='Te vas a caer de la risa')
meta(property='og:image', content=img('logo-square.png'))
meta(property='og:url', content='http://plop.pe')
meta(property='og:locale', content='es_LA')
meta(property='og:site_name', content='¡Plop!')
meta(property='og:type', content='website')