title #{title}
meta(property='og:title', content='¡Plop!')
meta(property='og:description', content='Para que te caigas de la risa')
meta(property='og:image', content=img('logo-square.png'))
meta(property='og:url', content='http://plop.pe')
meta(property='og:locale', content='es_LA')
meta(property='og:site_name', content='¡Plop!')
meta(property='og:type', content='website')