nav#nav.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.brand(href='/')
        img(src=img('logo-small.png'), alt='¡Plop!')
      ul.nav
        li.fb-nav
          .fb-like(data-send="false", data-layout="button_count", data-width="110", data-show-faces="false", data-href="https://www.facebook.com/pages/Plop/100430726755589")
        li.divider-vertical
        li.index
          a(href='/')             
            img(src=img('plop-small.png'), alt='Ríete')
            span Ríete
        li.divider-vertical
        li.new-upload
          a(href='#') 
            img(src=img('cloud.png'), alt='Sube')
            span Sube

      ul.nav.pull-right.session
        li.random
          a(href='/ruleta')
            img(src=img('shuffle.png'), alt='Ruleta')
        li.divider-vertical
        li.login
          a(href="#") Entra
        li.user.dropdown   
          a.user.dropdown-toggle(href="#", data-toggle="dropdown")
            span.no-username Opciones
            span.username 
            span.karma
            b.caret
          ul.dropdown-menu
            li
              a.logout(href='#') Salir
